.background{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--black-opacity);
    z-index: 1;
    top: 0;
    display: grid;
    place-items: center;
}
.routine-details-container{
    width: 475px;
    height: 500px;
    background-color: var(--burnt-orange);
    border-radius: 24px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    position: relative;
}
.plus-circle-icon{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
    color: var(--black);
}
.pencil-square-icon{
    width: 24px;
    height: 24px;
    position: absolute;
    top: 12px;
    right: 40px;
    cursor: pointer;
    color: var(--black);
}
.plus-circle-icon:hover,
.pencil-square-icon:hover{
    width: 28px;
    height: 28px;
}
.routine-details-container h2{
    color: var(--apple-green);
    margin: 0 0 8px 0;

}
.routine-details-container p{
    text-align: justify;
    font-weight: 500;
    color: var(--black);
}
.routine-details-container .description{
    font-weight:200;
}
.routine-details-container .category-time{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.routine-details-container .title-2{
    color: var(--white);
}
.exercises-panel{
    width: 100%;
    height: 200px;
    background-color: var(--apple-green);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
}
.exercises-info{
    width: 50%;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}
.exercises-info h2{
    text-align: center;
    color: var(--dark-brown);
    margin-top: 4px;
}
.exercises-info p{
    margin: 4px 0;
}
.exercise-image{
    width: 50%;
    height: 100%;
    display: flex;
    position: relative;
    margin: 0;
    justify-content: center;
    align-items: center;
}
.exercise-image img{
    width: 80%;
    height: 80%;
    border: 3px solid var(--cerulean);
    border-radius: 16px;
}
.exercise-image .left-arrow{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: var(--flame);
}
.exercise-image .right-arrow{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: var(--flame);
}