.background{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: var(--black-opacity);
    z-index: 1;
    top: 0;
    left: 200px;
    display: grid;
    place-items: center;
}
.background .routine-details-container{
    width: 475px;
    height: 500px;
    background-color: var(--burnt-orange);
    border-radius: 24px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 16px 24px;
    position: relative;
    margin-left: -200px;
    }
.background .routine-details-container .routine-name{
    color: var(--apple-green);
    margin: 0 0 8px 0;
}
.background .routine-details-container .add-routine-container{
    position: absolute;
    top: 12px;
    right: 12px;
    cursor: pointer;
}
.background .routine-details-container .add-routine-container .plus-circle-icon{
    width: 28px;
    height: 28px;
    color: var(--dark-brown);
    margin: 0;
}
.background .routine-details-container .add-routine-container .plus-circle-icon:hover{
    width: 32px;
    height: 32px;
    color: var(--apple-green);
}
.background .routine-details-container .add-routine-container .plus-circle-icon:hover + .add-routine-label{
    display: flex;
}
.background .routine-details-container .add-routine-container .add-routine-label{
    width: 130px;
    height: 30px;
    background-color: var(--apple-green);
    border: 1px solid var(--black);
    border-radius: 12px;
    position: absolute;
    font-size: small;
    margin: 0;
    top: -16px;
    left: 32px;
    display: none;
    align-items: center;
    justify-content: center;
}
.background .routine-details-container .description{
    font-weight:200;
}
.background .routine-details-container .category-time{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.background .routine-details-container .category-time .category-info{
    display: flex;
    gap: 4px;
}
.background .routine-details-container .category-time .category-info span:nth-child(1){
    color: var(--black);
}
.background .routine-details-container .category-time .category-info span:nth-child(2){
    color: var(--white);
}
.background .routine-details-container .category-time .time-info{
    display: flex;
    gap: 4px;
}
.background .routine-details-container .category-time .time-info span:nth-child(1){
    color: var(--black);
}
.background .routine-details-container .category-time .time-info span:nth-child(2){
    color: var(--white);
}
.background .routine-details-container .require-equipment{
    display: flex;
    gap: 4px;
}
.background .routine-details-container .require-equipment span:nth-child(1){
    color: var(--black);
}
.background .routine-details-container .require-equipment span:nth-child(2){
    color: var(--white);
}
.background .routine-details-container .exercises-panel{
    width: 100%;
    height: 200px;
    background-color: var(--apple-green);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 16px;
}
.background .routine-details-container .exercises-panel .exercises-info{
    width: 50%;
    height: 200px;
    display: flex;
    flex-direction: column;
    margin-left: 8px;
}
.background .routine-details-container .exercises-panel .exercises-info h2:nth-child(1){
    text-align: center;
    color: var(--dark-brown);
    margin-top: 4px;
}
.background .routine-details-container .exercises-panel .exercises-info p{
    margin: 4px 0;
}
.background .routine-details-container .exercises-panel .exercises-info p:nth-child(2),
.background .routine-details-container .exercises-panel .exercises-info p:nth-child(3){
    display: flex;
    gap: 4px;
}
.background .routine-details-container .exercises-panel .exercises-info p:nth-child(2) span:nth-child(1),
.background .routine-details-container .exercises-panel .exercises-info p:nth-child(3) span:nth-child(1){
    color: var(--dark-brown);
}
.background .routine-details-container .exercises-panel .exercises-info p:nth-child(2) span:nth-child(2),
.background .routine-details-container .exercises-panel .exercises-info p:nth-child(3) span:nth-child(2){
    color: var(--cerulean);
}
.background .routine-details-container .exercises-panel .exercises-info p:nth-child(4){
    color: var(--cerulean);
}
.background .routine-details-container .exercises-panel .exercise-image-container{
    width: 50%;
    height: 100%;
    display: flex;
    position: relative;
    margin: 0;
    justify-content: center;
    align-items: center;
}
.background .routine-details-container .exercises-panel .exercise-image-container .left-arrow{
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: var(--flame);
}
.background .routine-details-container .exercises-panel .exercise-image-container .right-arrow{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    cursor: pointer;
    color: var(--flame);
}
.background .routine-details-container .exercises-panel .exercise-image-container .exercise-image{
    width: 80%;
    height: 80%;
    border: 3px solid var(--cerulean);
    border-radius: 16px;
}
@media all and (max-width: 750px){
    .background{
        left: 0;
    }
    .background .routine-details-container{
        margin-left: 0;
    }
}
@media all and (min-width: 500px) and (max-width: 800px){
    .background .routine-details-container{
        width: 400px;
        height: 450px;
    }
}
@media all and (min-width: 420px) and (max-width: 499px){
    .background .routine-details-container{
        width: 350px;
        height: 400px;
    }
    .background .routine-details-container .category-time .category-info{
        margin: 0;
    }
    .background .routine-details-container .category-time .time-info{
        margin: 0;
    }
    .background .routine-details-container .require-equipment{
        margin: 0;
    }
}
@media all and (max-width: 419px){
    .background{
        min-width: 350px;
    }
    .background .routine-details-container{
        width: 275px;
        height: 350px;
    }
    .background .routine-details-container .category-time .category-info{
        margin: 0;
    }
    .background .routine-details-container .category-time .time-info{
        margin: 0;
    }
    .background .routine-details-container .require-equipment{
        margin: 0;
    }
    .background .routine-details-container .exercises-panel{
        height: 150px;
    }
    .background .routine-details-container .exercises-panel .exercises-info{
        height: 150px;
    }
}