.create-routine{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 312px;
}
.create-routine__title{
    margin-bottom: 16px;
    color: var(--flame);
    font-size: 2.3rem;
    text-align: center;
}
.create-routine__routine{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 12px;
    max-width: 478px;
}
.create-routine__detail{
    width: 100%;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}
.create-routine__name{
    width: 100%;
    display: flex;
    justify-content: center;
}
.create-routine__name-label{
    color: var(--apple-green);
    font-weight: bold;
    font-size: large;
    margin-right: 8px;
    min-width: 120px;
    text-align: center;
}
.create-routine__name-input{
    padding: 0 8px;
    width: 100%;
    background-color: var(--dark-brown);
    color: var(--white);
    font-weight: bold;
    outline: none;
    border-radius: 4px;
    border: none;
    max-width: 350px;
    
    &::placeholder{
        color: var(--white);
        opacity: 0.8;
    }
    &:focus{
        border: 1px solid var(--apple-green);
    }
}
.create-routine__description{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.create-routine__description-label{
    color: var(--apple-green);
    font-weight: bold;
    font-size: large;
    margin-right: 8px;
    width: 120px;
}
.create-routine__description-input{
    height: 128px;
    resize: none;
    outline: none;
    padding: 8px;
    background-color: var(--dark-brown);
    color: var(--white);
    font-weight: bold;
    outline: none;
    border-radius: 4px;
    border: none;
    flex-grow: 1;
    max-width: 350px;

    &::placeholder{
        color: var(--white);
        opacity: 0.8;
    }
    &:focus{
        border: 1px solid var(--apple-green);
    }
}
.create-routine__exercises-card{
    width: 100%;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    padding-bottom: 4px;
    max-width: 478px;
}
.create_routine__exercises-title{
    color: var(--flame);
    font-size: 1.8rem;
}
.create_routine__exercises-list{
    list-style: none;
    width: 100%;
    overflow: auto;
    padding-left: 16px;
    margin-bottom: 8px;
    &::-webkit-scrollbar{
        width: 14px;
    }
    &::-webkit-scrollbar-track{
        background-color: var(--black-opacity);
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb{
        background: linear-gradient(var(--cerulean),var(--burnt-orange));
        border-radius: 10px;    
    }
}
.create_routine__item{
    display: grid;
    grid-template: 1fr / 10% 80% 10%;
    width: 100%;
    align-items: center;
    padding: 4px 0;

    &:hover{
        background-color: var(--black-opacity);
    }
}
.create_routine__bars{
    width: 24px;
    height: 24px;
    color: var(--white);
}
.create-routine__item-name{
    padding: 0 8px;
    color: var(--white);
}
.create-routine__trash{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.create-routine__delete{
    width: 16px;
    height: 16px;
    color: var(--red-inactive);
    cursor: pointer;
    &:hover{
        color: var(--red);
    }
}
.create-routine__new-routine{
    display: flex;
    align-items: flex-end;
}
.create-routine__add{
    width: 36px;
    height: 36px;
    color: var(--apple-green-inactive);
    cursor: pointer;
    &:hover{
        color: var(--apple-green);
    }
}
.create-routine__right-panel{
    width: 100%;
}
.create-routine__navigate{
    list-style: none;
    display: flex;
    height: 36px;
    gap: 8px;
    margin-bottom: 8px;
}
.create-routine__nav-item{
    padding: 6px 16px;
    border-radius: 16px;
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
    &:nth-child(odd){
        background-color: var(--black);
    }
    &:nth-child(even){
        background-color: var(--white);
        color: var(--black);
    }
}
.create-routine__filter-bar{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 12px;
    flex-wrap: wrap;
    margin-bottom: 8px;
    justify-content: center;
}
.create-routine__search-exercise-input{
    padding: 8px;
    outline: none;
    width: 100%;
    background-color: var(--white);
    border: none;
    border-radius: 4px;
    color: var(--cerulean);
    font-weight: bold;
    max-width: 400px;
}
.create_routine__category-label{
    font-weight: bold;
    color: var(--white);
}
.create_routine__category-input{
    padding: 8px;
    outline: none;
    background-color: var(--white);
    border: none;
    border-radius: 4px;
    color: var(--cerulean);
    font-weight: bold;
    flex-grow: 1;
    max-width: 312px;
}
.create-routine__exercises{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    padding-bottom: 8px;

    &::-webkit-scrollbar{
        width: 14px;
    }
    &::-webkit-scrollbar-track{
        background-color: var(--black-opacity);
        border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb{
        background: linear-gradient(var(--cerulean),var(--burnt-orange));
        border-radius: 10px;    
    }
} 