@media (min-width: 1024px){
    .create-routine__routine{
        flex-direction: row;
        height: 600px;
        max-width: 1100px;
    }
    .create-routine__detail{
        display: flex;
        flex-direction: column;
        height: 600px;
        max-width: 400px;
        padding-bottom: 12px;
    }
    .create-routine__name{
        flex-direction: row;
    }
    .create-routine__name-label{
        min-width: 70px;
    }
    .create-routine__description{
        max-height: 156px;
        margin-bottom: 72px;
    }
    .create-routine__description-label{
        align-self: flex-start;
    }
    .create-routine__description-input{
        max-width: 100%;
    }
    .create-routine__right-panel{
        display: flex;
        flex-direction: column;
        padding-bottom: 12px;
    }
    .create-routine__filter-bar{
        flex-wrap: wrap;
    }
    .create-routine__exercises-card{
        max-height: 350px;
    }
    .create-routine__exercises{
        overflow: auto;
        padding: 12px;
    }
}
@media (min-width: 1100px){
    .create-routine__filter-bar{
        flex-wrap: nowrap;
    }
}