input{
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}
.timer{
    width: 100%;
    max-width: 600px;
    align-self: center;
    background-color: var(--secondary);
    padding: 8px;
    margin-bottom: 24px;
    border-radius: 12px;
    position: relative;
}
.timer__exercises-list-cont{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--black-opacity);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 20;
}
.timer__exercises-list{
    width: 150px;
    height: 200px;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 16px;
    overflow: hidden ;
}
.timer__choose-exercise{
    color: var(--primary-text);
    height: 60px;
}
.timer__exercises-to-choose{
    height: calc(100% - 60px);
    overflow-y: auto;
    &::-webkit-scrollbar{
        width: 4px;
        background-color: var(--primary);
    }
    &::-webkit-scrollbar-thumb{
        background-color: var(--secondary);
    }
}
.timer__exercise-to-add{
    color: var(--text);
    &:hover{
        background-color: var(--secondary);
    }
}
.timer__save-result{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: var(--black-opacity);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}
.timer__result-panel{
    width: 200px;
    height: 100px;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    padding: 8px;
}
.timer__result{
    color: var(--primary-text);
}
.timer__save-options{
    display: flex;
    justify-content: center;
    gap: 8px;
    flex-wrap: wrap;
}
.timer__save-button{
    padding: 2px 4px;
    margin-top: 4px;
    border-radius: 8px;
    border:2px solid var(--secondary);
    color: var(--text);
    cursor: pointer;
}
.timer__edit-button{
    width: 48px;
    background-color: var(--secondary);
    box-shadow: 0 1px 6px 0 var(--secondary);
}
.timer__create-new-button{
    background-color: var(--highlight);
    box-shadow: 0 1px 6px 0 var(--background);
}
.timer__do-routine-button{
    background-color: var(--secondary);
    box-shadow: 0 1px 6px 0 var(--background);
    text-decoration: none;
}
.timer__error-result{
    color: var(--error);
}
.timer__buttons{
    width: 100%;
    height: 32px;
    display: flex;
    gap: 12px;
}
.timer__button{
    padding: 4px 8px;
    border-radius: 64px;
    border: 2px solid var(--primary);
    background-color: var(--primary);
    font-weight: bold;
    cursor: pointer;
    color: var(--text);
    &:hover{
        transform: translateY(-1px);
    }
}
.timer__button-active{
    box-shadow: 1px 1px 6px var(--highlight);
    border-color: var(--highlight);
}
.timer__table-cont{
    width: 100%;
    max-height: 400px;
    margin-top: 8px;
    overflow: auto;
    &::-webkit-scrollbar-track{
        background-color: var(--secondary);
    }
    &::-webkit-scrollbar{
        background-color: var(--secondary);
        width: 8px;
        height: 8px;
    }
    &::-webkit-scrollbar-thumb{
        border-radius: 10px;
        background-color: var(--primary);
    }
    &::-webkit-scrollbar-corner{
        background-color: transparent;
    }

}
.timer__table{
    width: 100%;
    min-width: 360px;
    display: grid;
    grid-template: 32px 1fr 40px / 1fr;
    border-right: 2px solid var(--secondary);
    border-left: 2px solid var(--secondary);
    margin-bottom: 8px;
    position: relative;
}
.timer__table-no-edit{
    grid-template: 32px 1fr / 1fr;
}
.timer__headers{
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 18px;
    font-weight: bold;
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--primary);
    border-bottom: 2px solid var(--secondary);
    border-top: 2px solid var(--secondary);
}
.timer__exercise-title{
    width: 60%;
    text-align: center;
    border-right: 1px solid var(--secondary);
    color: var(--primary-text);
}
.timer__time-header{
    display: flex;
    width: 25%;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-right: 1px solid var(--secondary);
}
.timer__time-title{
    color: var(--primary-text);
}
.timer__format-time{
    width: 24px;
    display: flex;
    cursor: pointer;
    color: var(--highlight);
}
.timer__reps{
    width: 15%;
    text-align: center;
    color: var(--primary-text);
}
.timer__steps{
    width: 100%;
    height: 100%;
    list-style: none;
}
.timer__step{
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    background-color: var(--primary);
    border-bottom: 1px solid var(--secondary);
    &:last-child{
        border-bottom: 2px solid var(--secondary);
    }
}
.timer__step-editable{
    width: 100%;
    height: 32px;
    display: flex;
    align-items: center;
    background-color: var(--primary);
    border-bottom: 1px solid var(--secondary);
    touch-action: none;
    &:last-child{
        border: none;
    }
}
.timer__step-number-cont{
    width: calc(8% - 4px);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4px;
    text-align: center;
}
.timer__step-number{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: var(--secondary);
    color: var(--text);
    font-size: 12px;
    font-weight: bold;
}.timer__step-delete{
    width: 4%;
    display: flex;
    align-items: center;
}
.timer__trash-icon{
    width: 20px;
    color: var(--error);
    cursor: pointer;
}
.timer__exercise-edit{
    width: 48%;
    height: 100%;
    padding-top: 2px;
    text-align: center;
    border: none;
    border-right: 1px solid var(--secondary);
    color: var(--text);
    background: none;
    overflow: hidden;
}
.timer__exercise{
    width: 52%;
    height: 100%;
    padding-top: 2px;
    text-align: center;
    border: none;
    border-right: 1px solid var(--secondary);
    color: var(--text);
    background: none;
    overflow: hidden;
}
.timer__exercise-duration{
    width: 25%;
    height: 100%;
    padding-top: 2px;
    text-align: center;
    color: var(--text);
    border-right: 1px solid var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}
.timer__exercise-hrs{
    background: none;
    border: none;
    width: 24px;
    text-align: center;
    color: var(--text);
    &::placeholder{
        color: #939292;
    }
    &:focus{
        outline: 1px solid var(--highlight);
        border-radius: 4px;
    }
}
.timer__exercise-min{
    background: none;
    border: none;  
    width: 24px;
    text-align: center;
    color: var(--text);
    &::placeholder{
        color: #939292;
    }
    &:focus{
        outline: 1px solid var(--highlight);
        border-radius: 4px;
    }
}
.timer__exercise-sec{
    background: none;
    border: none;
    width: 24px;
    text-align: center;
    color: var(--text);
    &::placeholder{
        color: #939292;
    }
    &:focus{
        outline: 1px solid var(--highlight);
        border-radius: 4px;
    }
}
.timer__exercise-duration-points{
    color: var(--primary-text);
}
.timer__exercise-reps{
    width: 15%;
    height: 100%;
    padding-top: 2px;
    text-align: center;
    color: var(--text);
    border: none;
    background: none;
}
.timer__exercise-reps-editable{
    width: 15%;
    height: 100%;
    padding-top: 2px;
    text-align: center;
    color: var(--text);
    border: none;
    background: none;

    &::placeholder{
        color: #939292;
    }
    &:focus{
        outline: none;
    }
}
.timer__add-step{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    position: sticky;
    bottom: 0;
    left: 0;
    background-color: var(--primary);
    border-top: 2px solid var(--secondary);
    border-bottom: 2px solid var(--secondary);
    cursor: pointer;
}
.timer__add-step--hovered{
    background-color: var(--black-opacity);
}
.timer__add-msg{
    font-weight: bold;
    color: var(--primary-text);
    text-align: center;
}
.timer__add{
    width: 24px;
    display: flex;
    color: var(--highlight);
    &:hover{
        width: 28px;
    }
}
.timer__options{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 8px;
}
.timer__laps{
    display: flex;
    gap: 8px;
}
.timer__laps-label--editable{
    cursor: pointer;
}
.timer__laps-number{
    background-color: var(--highlight);
    color: var(--secondary);
    text-align: center;
    border-radius: 8px;
    padding: 0 8px;
    border: none;
    width: 28px;
    font-weight: bold;
    outline-color: var(--primary);
}
.timer__total{
    display: flex;
    gap: 8px;
    font-weight: bold;
}
.timer__total-time{
    background-color: var(--highlight);
    color: var(--secondary);
    text-align: center;
    border-radius: 8px;
    padding: 0 8px;
}
.timer__footer-buttons{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.timer__edit{
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
    background-color: var(--primary);
    color: var(--text);
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 2px var(--background);
    &:hover{
        transform: translateY(-1px);
    }
}
.timer__save{
    padding: 8px 16px;
    border-radius: 8px;
    font-weight: bold;
    background-color: var(--primary);
    color: var(--text);
    cursor: pointer;
    border: none;
    box-shadow: 2px 2px 2px var(--background);
    &:hover{
        transform: translateY(-1px);
    }
}
@media (min-width: 1024px){
    .timer{
        height: 100%;
        margin: 0;
    }
}