.user-routine__bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--black-opacity);
    z-index: 10;
    display: grid;
    place-items: center;
}
.user-routine__card{
    width: 325px;
    height: 400px;
    background-color: var(--secondary);
    border-radius: 12px;
    border: 2px solid var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    animation: appear 200ms;
}
.user-routine__header{
    width: 100%;
    height: 75px;
    position: relative;
}
.user-routine__name{
    font-size: 24px;
    font-weight: bold;
    color: var(--text);
    text-align: center;
    padding: 0 48px;
}
.user-routine__icons{
    position: absolute;
    right: 4px;
    top: 4px;
}
.user-routine__icon{
    width: 20px;
}
.user-routine__edit-cont{
    color: var(--background);
}
.user-routine__edit{
    fill: var(--text);
}
.user-routine__delete{
    fill: var(--error);
}
.user-routine__detail{
    width: 100%;
    height: 125px;
    display: flex;
    gap: 16px;
    padding: 0 12px;
    justify-content: space-evenly;
    margin-bottom: 8px;
}
.user-routine__left-detail{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.user-routine__description-label{
    color: var(--text);
    font-weight: bold;
}
.user-routine__description{
    color: var(--background);
    overflow: auto;
}
.user-routine__description::-webkit-scrollbar{
    width: 6px;
}
.user-routine__description::-webkit-scrollbar-thumb{
    background-color: var(--highlight);
    border-radius: 8px;
}
.user-routine__description::-webkit-scrollbar-track{
    background-color: var(--secondary);
}
.user-routine__right-detail{
    /* width: 60%; */
}
.user-routine__category-cont{
    display: flex;
    flex-direction: column;
}
.user-routine__category-label{
    color: var(--text);
    font-weight: bold;
}
.user-routine__category{
    color: var(--background);
}
.user-routine__total-time-cont{
    display: flex;
    flex-direction: column;
}
.user-routine__total-time-label{
    color: var(--text);
    font-weight: bold;
}
.user-routine__total-time{
    color: var(--background);
}
.user-routine__steps{
    width: 275px;
    height: 200px;
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    gap: 12px;
}
.user-routine__steps::-webkit-scrollbar{
    height: 6px;
    width: 0px;
}
.user-routine__steps::-webkit-scrollbar-thumb{
    background-color: var(--highlight);
    border-radius: 8px;
}
.user-routine__steps::-webkit-scrollbar-track{
    background-color: var(--secondary);
}
.user-routine__step-card{
    min-width: 275px;
    height: 175px;
    display: flex;
    flex-direction: column;
    align-items: center;
    scroll-snap-align: start;
}
.user-routine__step-title{
    font-weight: bold;
    font-size: 20px;
    color: var(--text);
}
.user-routine__step-data{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}
.user-routine__step-detail{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.user-routine__reps-cont{
    display: flex;
    gap: 8px;
}
.user-routine__reps-label{
    color: var(--text);
}
.user-routine__reps{
    color: var(--background);
}
.user-routine__time-cont{
    display: flex;
    gap: 8px;
}
.user-routine__time-label{
    color: var(--text);
}
.user-routine__time{
    color: var(--background);
}
.user-routine__step-figure{
    width: 55%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-routine__step-img{
    width: 120px;
    border-radius: 12px;
}
@keyframes appear{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}