.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-content{
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 100px;
    margin-top: 32px;
}