.layout{
    height: calc(100vh - 48px);
    padding: 24px;
    margin-left: 200px;
    overflow: auto;
    position: relative;
}
.layout .open-menu-container{
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    align-items: center;
    justify-content: center;
    margin: 16px;
    width: 44px;
    height: 44px;
    border-radius: 9999px;
    background-color: var(--black-opacity);
    z-index: 10;
}
.layout .open-menu{
    width: 32px;
    height: 32px;
    color: var(--dark-brown);
}
@media all and (min-width:750px)and (max-width:1024px){
    .layout{
        width: calc(100vw - 248px);
    }
}
@media all and (max-width: 749px){
    .layout{
        margin: 0;
    }
    .layout .open-menu-container{
        display: flex;
    }
}
@media all and (max-width: 550px){
    .layout .open-menu-container{
        margin: 8px;
    }
}