.routines-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: space-evenly;
    gap: 32px;  
    height: 100%; 
}
.routines-container .search-routine{
    width: 80%;
    height: 100%;
    max-height: 350px;
    min-height: 300px;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 8px;
    border: 4px solid var(--secondary);
}
.routines-container .search-routine .title{
    margin: 16px 0;
    color: var(--text);
}
.routines-container .search-routine .routine-cards{
    margin-top: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    overflow: auto;
    gap: 16px;
    padding: 16px;
}
/* SCROLLBAR  */
.routines-container .search-routine .routine-cards::-webkit-scrollbar{
    width: 12px;
}
.routines-container .search-routine .routine-cards::-webkit-scrollbar-track{
    background-color:  var(--primary);
}
.routines-container .search-routine .routine-cards::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: var(--highlight);
}
.routines-container .search-routine .scroll-up-container{
    position: absolute;
    right: 8px;
    bottom: 8px;
    width: 24px;
    height: 24px;
    background-color: var(--background);
    border-radius: 9999px;
    padding: 4px;
    cursor: pointer;
    display: flex;
}
.routines-container .search-routine .scroll-up-container .scroll-up-icon{
    color: var(--text);
}
.routines-container .user-routines{
    width: 80%;
    height: 100%;
    min-height: 200px;
    max-height: 250px;
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 8px;
    border: 4px solid var(--secondary);
    position: relative;
}
.routines-container .user-routines .title{
    margin: 4px 0;
    color: var(--text);
}
.routines-container .user-routines .plus-circle-icon{
    width: 36px;
    height: 36px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 8px;
    color: var(--background);
}
.routines-container .user-routines .plus-circle-icon:hover{
    color: var(--highlight);
}

.routines-container .user-routines .user-routines-container{
    display: grid;
    grid-template: 1fr / 1fr 1fr 1fr;
    gap: 16px;
    padding: 0 16px 16px 16px;
    overflow: auto;
    width: 100%;
    place-items: center;
}
/* SCROLLBAR  */
.routines-container .user-routines .user-routines-container::-webkit-scrollbar{
    width: 12px;
}
.routines-container .user-routines .user-routines-container::-webkit-scrollbar-track{
    background-color:  var(--primary);
}
.routines-container .user-routines .user-routines-container::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: var(--highlight);
}
.user-routines-create-routine{
    font-weight: bold;
    color: var(--background);
}
.plus-circle-icon-empty-routines{
    width: 36px;
    color: var(--background);
    &:hover{
        color: var(--highlight);
    }
}



@media all and (min-width: 1500px){
    .routines-container .user-routines .user-routines-container{
        grid-template: 1fr / 1fr 1fr 1fr 1fr;
    }
}

@media all and (max-width: 864px){
    .routines-container .user-routines .user-routines-container{
        padding: 0 8px;
    }
    .routines-container .user-routines .user-routines-container{
        grid-template: 1fr / 1fr 1fr;
    }
}

@media all and (min-width:750px) and (max-width: 1024px){
    .routines-container{
        height: 100%;
        gap: 72px;
    }
    .routines-container .search-routine{
        width: 90%;
    }
    .routines-container .user-routines{
        width: 90%;
        height: 300px;
    }
}
@media all and (min-width: 750px) and (max-width: 850px){
    .routines-container .search-routine .routine-cards{
        grid-template-columns: 1fr 1fr;
    }
}
@media all and (max-width: 700px){
    .routines-container .search-routine .routine-cards{
        grid-template-columns: 1fr 1fr;
    }
}
@media all and (max-width: 550px){
    .routines-container .search-routine{
        width: 100%;
        min-width: 350px;
        max-width: 450px;
    }
    .routines-container .user-routines{
        width: 100%;
        min-width: 350px;
        max-width: 450px;
    }
}