.routines-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 32px;
    
}
.search-routine{
    width: 80%;
    height: 400px;
    background-color: rgb(20, 82, 44);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.search-routine h1{
    margin: 16px 0;
}
.user-routines{
    width: 80%;
    height: 250px;
    background-color: rgb(95, 203, 136);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.routine-cards{
    margin-top: 32px;
    width: calc(100% - 32px);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    overflow: auto;
    gap: 16px;
    padding: 16px;
}
.scroll-up-container{
    position: absolute;
    right: 24px;
    bottom: 8px;
    width: 24px;
    height: 24px;
    background-color: blue;
    border-radius: 9999px;
    padding: 4px;
    cursor: pointer;
}
.scroll-up-icon{
    color: aliceblue;
}

@media all and (min-width:800px) and (max-width: 1024px){
    .routines-container{
        height: 100%;
        gap: 72px;
    }
    .user-routines{
        height: 300px;
    }
}