.routines-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 32px;
    
}
.search-routine{
    width: 80%;
    height: 400px;
    background-color: rgb(95, 203, 136);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.search-routine h1{
    margin: 16px 0;
}
.user-routines{
    width: 80%;
    height: 250px;
    background-color: rgb(95, 203, 136);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filter-bar{
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 64px;
}
.filter-bar p{
    color: darkblue;
    font-weight: bold;
    cursor: pointer;
    margin: 0;
}
.filter-bar .filters{
    margin-left: 32px;
    display: flex;
    gap: 4px;
}
.filter-bar .filters button{
    background-color: skyblue;
    color: darkblue;
    border-radius: 12px;
    padding: 2px 8px;
    border: 2px solid darkblue;
    font-weight: 600;
    cursor: pointer;
}