.card-container{
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(95, 203, 136);
    border: 2px solid rgb(86, 19, 19);
    border-radius: 16px;
    padding: 8px 16px;
    cursor: pointer;
    justify-content: space-between;
    overflow: hidden;
}
.card-container h3{
    margin: 6px 0;
    text-align: center;
    color: rgb(174, 92, 34);
    height: 28%;
}
.card-container .routine-description{
    margin:0;
    font-size: small;
    text-align: center;
    height: 52%;
    overflow: auto;
}
.detail-container{
    height: 20%;
}
.detail-container p{
    margin:0;
    font-size: small;
    text-align: center;
    font-weight: bold;
}
.detail-container p span{
    margin-left:4px;
    color: aqua;
}

@media all and (min-width:800px) and (max-width: 1024px){
    .card-container{
        padding: 8px 4px;
    }
    .card-container h3{
        margin: 0;
        font-size: medium;
        line-height: 1.1;
    }
    .card-container .routine-description{
        margin: 0;
        font-size: small;
        text-align: center;
        overflow: scroll;
    }
    .user-routines{
        height: 300px;
    }
}