.card-container{
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cerulean);
    border: 2px solid var(--dark-brown);
    border-radius: 16px;
    padding: 8px 16px;
    cursor: pointer;
    justify-content: space-between;
    overflow: hidden;
}
.card-container .card-title{
    margin: 6px 0;
    text-align: center;
    color: var(--dark-brown);
    height: 28%;
}
.card-container .routine-description{
    margin:0;
    font-size: 0.9rem;
    text-align: center;
    height: 52%;
    overflow: auto;
    color: var(--apple-green);
}
.card-container .routine-description::-webkit-scrollbar{
    width: 12px;
}
.card-container .routine-description::-webkit-scrollbar-track{
    background-color:  var(--cerulean);
}
.card-container .routine-description::-webkit-scrollbar-thumb{
    background: linear-gradient(var(--dark-brown),var(--burnt-orange));
    border-radius: 10px;
}
.card-container .detail-container{
    height: 20%;
}
.card-container .detail-container .time{
    margin:0;
    font-size: small;
    font-weight: bold; 
    display: flex;
    gap: 4px;
    justify-content: center;
}
.card-container .detail-container .time span:nth-child(1){
    color: var(--dark-brown);
}
.card-container .detail-container .time span:nth-child(2){
    color: var(--white);
}
.card-container .detail-container .equipment{
    margin:0;
    font-size: small;
    font-weight: bold; 
    display: flex;
    gap: 4px;
    justify-content: center;
}
.card-container .detail-container .equipment span:nth-child(1){
    color: var(--dark-brown);
}
.card-container .detail-container .equipment span:nth-child(2){
    color: var(--white);
}

@media all and (max-width: 1024px){
    .card-container{
        padding: 8px 4px;
    }
    .card-container .card-title{
        margin: 0;
        font-size: medium;
        line-height: 1.1;
    }
    .card-container .routine-description{
        margin: 0;
        font-size: small;
        text-align: center;
        overflow: auto;
    }
}
@media all and (max-width: 400px){
    .card-container .detail-container{
        display: flex;
        align-items: flex-end;
    }
    .card-container .detail-container .equipment{
        display: none;
    }
}