.card-container{
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--cerulean);
    border: 2px solid var(--dark-brown);
    border-radius: 16px;
    padding: 8px 16px;
    cursor: pointer;
    justify-content: space-between;
    overflow: hidden;
}
.card-container h3{
    margin: 6px 0;
    text-align: center;
    color: var(--dark-brown);
    height: 28%;
}
.card-container .routine-description{
    margin:0;
    font-size: 0.9rem;
    text-align: center;
    height: 52%;
    overflow: auto;
    color: var(--apple-green);
}
.card-container .routine-description::-webkit-scrollbar{
    width: 12px;
}
.card-container .routine-description::-webkit-scrollbar-track{
    background-color:  var(--cerulean);
}
.card-container .routine-description::-webkit-scrollbar-thumb{
    background: linear-gradient(var(--dark-brown),var(--burnt-orange));
    border-radius: 10px;
}
.detail-container{
    height: 20%;
}
.detail-container p{
    margin:0;
    font-size: small;
    text-align: center;
    font-weight: bold;
    color: var(--dark-brown);
}
.detail-container p span{
    margin-left:4px;
    color:var(--white);
}

@media all and (min-width:800px) and (max-width: 1024px){
    .card-container{
        padding: 8px 4px;
    }
    .card-container h3{
        margin: 0;
        font-size: medium;
        line-height: 1.1;
    }
    .card-container .routine-description{
        margin: 0;
        font-size: small;
        text-align: center;
        overflow: scroll;
    }
    .user-routines{
        height: 300px;
    }
}