.user-activity-container{
    width: 500px;
    height: calc(300px - 8px);
    background-color: var(--white);
    border: 4px solid var(--burnt-orange);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
}
.user-activity-container .title-2{
    text-align: center;
    margin: 4px 0 0 0;
    color: var(--dark-brown);
}
.user-activity-container .activity-container{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 100%;
}
.user-activity-container .activity-container .activity-chart-container{
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
}
.user-activity-container .activity-container .activity-chart-container .activity-chart-title{
    margin: 0;
    font-weight: 600;
    color: var(--white);
}
.user-activity-container .activity-container .activity-chart-container{
    margin: 0;
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 180px;
    background-color: var(--cerulean);
    border-radius: 32px;
    border: 4px solid var(--dark-brown);
}
.user-activity-container .user-data-container{
    display: flex; 
    flex-direction: column;
    height: 100%;
    gap: 16px;
    margin-top: 24px;
}
.user-activity-container .user-data-container .user-data{
    margin: 0;
    color: var(--cerulean);
    font-weight: 500;
    
}
.user-activity-container .user-data-container .user-data .data-value:hover{
    color: var(--dark-brown);
    cursor: pointer;
}

@media all and (min-width:800px) and (max-width:1024px){
    .user-activity-container{
        width: 350px;
    }
    .user-activity-container .activity-container .activity-chart-container{
        width: auto;
        height: auto;
        background-color: transparent;
        border: none;
    }
    .user-activity-container .activity-container .activity-chart-container .activity-chart-title{
        display: none;
    }
    .user-activity-container .user-data-container .user-data{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}