/* html{
  font-size: 62.5%;
} */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;  

  &.dark-mode{
    --background: #141414;
    --text: #EEF0F2;
    --primary-text: #f6d465;
    --primary: #013542;
    --secondary: #011638;
    --highlight: #EEC643;
    --success: #008000;
    --error: #D9534F;
    --error-inactive: #f38696;
    --black-opacity: #14141480;
    --secondary-opacity: #01163880;
    background: #141414;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}