:root{
  --background: #E0E0E0;
  --text: #333333;
  --primary: #2980B9;
  --secondary: #66BB66;
  --highlight: #FFD700;
  --success: #4CAF50;
  --error: #B22222;
  --error-inactive: #FFB6C1;
  --black-opacity: #33333380;
  --secondary-opacity: #66BB66c5;

}
/* html{
  font-size: 62.5%;
} */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}