/* html{
  font-size: 62.5%;
} */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  --background: #E0E0E0;
  --text: #333333;
  --primary: #236d9e;
  --secondary: #5aa45a;
  --highlight: #ccae03;
  --success: #41c845;
  --error: #B22222;
  --error-inactive: #FFB6C1;
  --black-opacity: #33333380;
  --secondary-opacity: #66BB66c5;
  
  background-color: var(--background);

  &.dark-mode{
    --background: #181818;
    --text: #FFFFFF;
    --primary: #af894c;
    --secondary: #a66d1d;
    --highlight: #b6c600;
    --success: #008000;
    --error: #D9534F;
    --error-inactive: #FFB6C1;
    --black-opacity: #33333380;
    --secondary-opacity: #a66d1d80;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}