.train__layout {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 12px;
    overflow-x: hidden;
}
.train__layout::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../../public/pics/lion-wallpaper.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.6; 
}
.train__layout * { 
    position: relative; 
}
.train__title{
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: var(--apple-green);
    margin-bottom: 32px;
    text-shadow: 2px 2px 1px var(--black);
}
.train__players{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: rgba(136, 149, 201, 0.4);/*Make it a variable*/
    border-radius: 12px;
    min-width: 330px;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 12px;
}
.train__player{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.train__icon-cont{
    width: 50px;
    :hover{
        transform: translateY(-2px);
    }
}
.train__player-icon{
    width: 100%;
    cursor: pointer;
}
.train-pause{
    color: var(--flame);
}
.train-play,
.train-restart{
    color: var(--apple-green);
}
.train-stop{
    color: var(--red);
}
.train-mute{
    width: 60%;
    color: var(--flame);
}
.train-unmute{
    width: 60%;
    color: var(--apple-green);
}
.train__steps-cont{
    width: 100%;
    height: 300px;
    display: flex;
    gap: 8px;
    min-width: 330px;
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 12px;
    position: relative;
    background-color: rgba(136, 149, 201, 0.4);/*Make it a variable*/
    border-radius: 12px;
}
.train__steps-card{
    min-width: 100%;
    height: 100%;
    display: flex;
    padding: 8px;
}
/* ANIMATION */
.enter-animation{
    animation-name: enter;
    animation-duration: 1000ms;
}
@keyframes enter{
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
.train__step-details{
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.train__reps-data{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 12px;
}
.train__reps-label{
    color: var(--flame);
    text-shadow: 3px 3px 3px var(--black);
}
.train__reps{
    color: var(--flame);
    text-shadow: 2px 2px 1px var(--black);
}
.train__countdown{
    font-weight: bold;
    font-size: 22px;
    color: var(--flame);
    text-shadow: 2px 2px 1px var(--black);
}
.train__next-step{
    width: 100%;
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.train__next-label{
    font-weight: bold;
    color: var(--flame);
    text-shadow: 1px 1px 1px var(--black);
}
.train__next-img-cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.train__next-exercise{
    font-weight: bold;
    color: var(--cerulean);
    text-shadow: 1px 1px 1px var(--black);
}
.train__next-exercise-img{
    width: 80%;
    border-radius: 12px;
}

.train__step{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
}
.train__exercise{
    font-weight: bold;
    font-size: 28px;
    color: var(--cerulean);
    text-shadow: 1px 1px 1px var(--black);
}
.train__img{
    width: 100%;
    max-width: 290px;
    max-height: 220px;
    object-fit: cover;
    border-radius: 12px;
}
.train__cronometer{
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(136, 149, 201, 0.4);/*Make it a variable*/
    border-radius: 12px;
    min-width: 330px;
    max-width: 600px;
    margin: 0 auto;
}
.train__laps-label{
    font-weight: bold;
    font-size: 20px;
    margin-right: 8px;
    color: var(--flame);
    text-shadow: 2px 2px 2px var(--black);
}
.train__laps-value{
    background-color: var(--cerulean);
    padding: 4px 8px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px var(--black);
}
.train__time{
    font-weight: bold;
    font-size: 30px;
    color: var(--apple-green);
    text-shadow: 3px 3px 1px var(--black);
}
@media (min-width: 750px){
    .train__layout{
        margin-left: 200px;
        width: calc(100% - 200px);
    }
    .train__title{
        font-size: 42px;
    }
    .train__players{
        max-width: 700px;
    }
    .train__steps-cont{
        max-width: 700px; 
    }
    .train__cronometer{
        max-width: 700px;
    }
}